[submodule "plt"]
	path = plt
	url = https://github.com/jacketsj/matplotlib-cpp.git
[submodule "hnswlib"]
	path = hnswlib
	url = https://github.com/nmslib/hnswlib.git
[submodule "hnswlib/"]
	url = https://github.com/jacketsj/hnswlib-exp.git
[submodule "mmap_allocator"]
	path = mmap_allocator
	url = https://github.com/johannesthoma/mmap_allocator.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
