[submodule "plt"]
	path = plt
	url = https://github.com/jacketsj/matplotlib-cpp.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "hnswlib"]
	path = hnswlib
	url = https://github.com/nmslib/hnswlib.git
[submodule "hnswlib/"]
	url = https://github.com/jacketsj/hnswlib-exp.git
